{% block photography_file_widget %}
{% spaceless %}
    <div class="photography">
{#}
        {{ form_widget(form.file) }}
{#}
        {% if download_uri is defined and download_uri %}
        <div class="media">
{#}
            <div class="media-left">
                <img class="media-object" src="{{ download_uri|imagine_filter('user_credential_small') }}" alt="" />
            </div>
{#}
            <div class="media-body">
                <h4 class="media-heading"><a class="btn btn-default btn-block" href="{{ download_uri|imagine_filter('user_credential') }}" download>{{ icon('download') }}&nbsp;{{ 'photography.file.download'|trans({}, translation_domain) }}</a></h4>
            </div>
        </div>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock %}
