{% block _album_photographies_widget %}
    {% spaceless %}
        <div class="form-group">
            {% for field in form %}
                <div class="col-md-6 col-lg-4">
                    <img class="img-thumbnail" src="{{ vich_uploader_asset(field.vars.data, 'file')|imagine_filter('controlpanel_photography_small') }}" />
                    {{ form_widget(field) }}
                </div>
            {% endfor %}
        </div>
{#}
        <div {{ block('widget_container_attributes') }} >
            <table class="table table-middle">
                <thead>
                    <tr>
                        <th width="20"><a href="#" class="btn btn-default btn-sm disabled">{{ icon('times fa-fw') }}</a></th>
                        <th width="300">{{'photography.image'|trans({}, translation_domain) }}</th>
                        <th>{{'photography.categories'|trans({}, translation_domain) }}</th>
                    </tr>
                </thead>
                {% for field in form %}
                    <tr>
                        <td class="col-md-4"><img class="img-thumbnail" src="{{ vich_uploader_asset(field.vars.data, 'file')|imagine_filter('controlpanel_photography_preview') }}" /></td>
                        <td class="col-md-8">{{ form_widget(field) }}</td>
                        <td class="col-md-1"><div class="form-group"><a href="#" class="btn btn-danger" data-removefield="collection" data-field="{{ field.vars.id }}">{{ icon('times fa-fw') }}</a></td></div>
                    </tr>
                {% endfor %}
            </table>
        </div>
{#}
    {% endspaceless %}
{% endblock _album_photographies_widget %}
