{% extends "FotoJoinUserBundle:Profile:layout.html.twig" %}

{% trans_default_domain 'FotoJoinUserBundle' %}

{% block title %}{{ 'profile.edit.title'|trans }}{% endblock %}

{% block profile %}

    <div class="row">
        <div class="col-lg-12">
            {{ form_start(form, { 'style': 'horizontal', 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ icon('user fa-fw') }}&nbsp;Información Personal</h3>
                    {{ form_row(form.name) }}
                    {{ form_row(form.birthdate) }}
                    {{ form_row(form.profilephoto) }}
{#}
                    {{ form_row(form.publiccontact) }}
{#}
                    <div class="form-group"><div class="col-lg-offset-3 col-lg-9">
                        <button type="submit" class="btn btn-primary">{{ icon('save fa-fw') }}&nbsp;{{ 'profile.edit.submit'|trans }}</button>
                    </div></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ icon('map-marker fa-fw') }}&nbsp;Localización</h3>
                    {{ form_row(form.commune) }}
                    <div class="form-group"><div class="col-lg-offset-3 col-lg-9">
                        <button type="submit" class="btn btn-primary">{{ icon('save fa-fw') }}&nbsp;{{ 'profile.edit.submit'|trans }}</button>
                    </div></div>
                </div>
            </div>
{#}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ icon('map-marker fa-fw') }}&nbsp;Mis Ciudades de Cobertura</h3>
                    {{ form_row(form.city1) }}
                    {{ form_row(form.city2) }}
                    {{ form_row(form.city3) }}
                    <div class="form-group"><div class="col-lg-offset-3 col-lg-9">
                        <button type="submit" class="btn btn-primary">{{ icon('save fa-fw') }}&nbsp;{{ 'profile.edit.submit'|trans }}</button>
                    </div></div>
                </div>
            </div>
{#}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ icon('camera fa-fw') }}&nbsp;Información Fotográfica</h3>
                    {{ form_row(form.level) }}
{#}
                    {{ form_row(form.exigency) }}
                    {{ form_row(form.facebookshare) }}
{#}
                    {{ form_row(form.description) }}
                    <div class="form-group"><div class="col-lg-offset-3 col-lg-9">
                        <button type="submit" class="btn btn-primary">{{ icon('save fa-fw') }}&nbsp;{{ 'profile.edit.submit'|trans }}</button>
                    </div></div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    var optionsLocation = {
        maxHeight: 300,
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Seleccione una localidad',
        filterPlaceholder: 'Buscar',
        buttonWidth: '100%',
        templates: {
//            button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"></button>',
//            ul: '<ul class="multiselect-container dropdown-menu"></ul>',
            filter: '<li class="multiselect-item filter"><div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span><input class="form-control multiselect-search" type="text"></div></li>',
            filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default multiselect-clear-filter" type="button"><i class="fa fa-times-circle"></i></button></span>',
//            li: '<li><a href="javascript:void(0);"><label></label></a></li>',
//            divider: '<li class="multiselect-item divider"></li>',
//            liGroup: '<li class="multiselect-item group"><label class="multiselect-group"></label></li>'
        }
    };
    $('#fotojoin_user_profile_form_commune').multiselect(optionsLocation);
    </script>
{% endblock %}

{#}
{% block javascript %}
    <script type="text/javascript">
    var optionsCountry = {
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        maxHeight: 300,
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        filterPlaceholder: 'Buscar País',
        buttonWidth: '100%',
        onChange: function() {
            var $form = $('form[name=fotojoin_user_profile_form]');
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: $form.serializeArray(),
                success: function(html) {
                    $('select[name=fotojoin_user_profile_form_city1]').multiselect('destroy');
                    $('select[name=fotojoin_user_profile_form_city1]').replaceWith($(html).find('select[name=fotojoin_user_profile_form_city1]'));
                    $('select[name=fotojoin_user_profile_form_city1]').multiselect(optionsCountry);
                }
            });
        }
    };
    var optionsCity = {
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        maxHeight: 300,
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        filterPlaceholder: 'Buscar Ciudad',
        buttonWidth: '100%',
    };
    $('#fotojoin_user_profile_form_country').multiselect(optionsCountry);
    $('#fotojoin_user_profile_form_city1').multiselect(optionsCity);
    $('#fotojoin_user_profile_form_city2').multiselect(optionsCity);
    $('#fotojoin_user_profile_form_city3').multiselect(optionsCity);
    </script>
{% endblock %}
{#}
