{% extends "FotoJoinUserBundle:Profile:layout.html.twig" %}

{% trans_default_domain 'FotoJoinUserBundle' %}

{% block title %}{{ 'profile.show.title'|trans }}{% endblock %}

{% block profile %}
    {% include 'FotoJoinControlPanelBundle:Base:flashbag.html.twig' %}
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ icon('user fa-fw') }}Informaci칩n Personal</h3>
                    <dl class="dl-horizontal dl-horizontal-sm dl-horizontal-md dl-horizontal-lg">
                        {% if user.name %}<dt>{{ 'form.name'|trans }}</dt><dd>{{ user.name }}</dd>{% endif %}
                        {% if user.birthdate %}<dt>{{ 'form.birthdate'|trans }}</dt><dd>{{ user.birthdate|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd 'de' LLLL 'de' Y") }}</dd>{% endif %}
                    </dl>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ icon('user fa-fw') }}Informaci칩n de Usuario</h3>
                    <dl class="dl-horizontal dl-horizontal-sm dl-horizontal-md dl-horizontal-lg">
                        {% if user.email %}<dt>{{ 'form.email'|trans }}</dt><dd>{{ user.email }}</dd>{% endif %}
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ icon('map-marker fa-fw') }}Mis Ciudades de Cobertura</h3>
                    <dl class="dl-horizontal dl-horizontal-sm dl-horizontal-md dl-horizontal-lg">
                        {#}{% if user.country %}<dt>{{ 'form.country'|trans }}</dt><dd>{{ user.country|country }}</dd>{% endif %}{#}
                        {% if user.city1 %}<dt>{{ 'form.city.1'|trans }}</dt><dd>{{ user.city1 }}</dd>{% endif %}
                        {% if user.city2 %}<dt>{{ 'form.city.2'|trans }}</dt><dd>{{ user.city2 }}</dd>{% endif %}
                        {% if user.city3 %}<dt>{{ 'form.city.3'|trans }}</dt><dd>{{ user.city3 }}</dd>{% endif %}
                    </dl>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ icon('camera fa-fw') }}Informaci칩n Fotogr치fica</h3>
                    <dl class="dl-horizontal dl-horizontal-sm dl-horizontal-md dl-horizontal-lg">
                        {% if user.level is not null %}<dt>{{ 'form.level.type'|trans }}</dt><dd>{{ user_level[user.level]|trans }}</dd>{% endif %}
{#}
                        {% if user.exigency is not null %}<dt>{{ 'form.exigency.type'|trans }}</dt><dd>{{ user.exigency }}</dd>{% endif %}
{#}
                        {% if user.description %}<dt>{{ 'form.description'|trans }}</dt><dd>{{ user.description }}</dd>{% endif %}
                    </dl>
                </div>
            </div>
        </div>
    </div>

{% endblock %}