{% extends ':ControlPanel:base.html.twig' %}

{% block title %}{{ 'album.new'|trans({}, 'FotoJoinControlPanelBundle') }}{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% include ':ControlPanel:icon.html.twig' %}{{ 'album.new'|trans({}, 'FotoJoinControlPanelBundle') }}</h1>
                {% include ':ControlPanel:flashbag.html.twig' %}
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-toolbar">
                            <a type="button" class="btn btn-default" href="{{ path('album_index') }}">{{ icon('list') }}&nbsp;{{ 'album.list'|trans({}, 'FotoJoinControlPanelBundle') }}</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form, { 'style': 'horizontal' }) }}
                            {{ form_row(form.name) }}
                                <div class="form-group"><div class="col-lg-offset-3 col-lg-9">
                                    <button type="submit" class="btn btn-primary">{{ icon('plus') }}&nbsp;{{ 'album.register'|trans({}, 'FotoJoinControlPanelBundle') }}</button>
                                </div></div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->



{% endblock %}
