{% extends ':ControlPanel:base.html.twig' %}

{% block title %}{{ 'album.show'|trans({}, 'FotoJoinControlPanelBundle') }}{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% include ':ControlPanel:icon.html.twig' %}{{ 'album.show'|trans({}, 'FotoJoinControlPanelBundle') }}</h1>
                {% include ':ControlPanel:flashbag.html.twig' %}
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-toolbar">
                            <a type="button" class="btn btn-default" href="{{ path('album_index') }}">{{ icon('list') }}&nbsp;{{ 'album.list'|trans({}, 'FotoJoinControlPanelBundle') }}</a>
                            <a type="button" class="btn btn-warning" href="{{ path('album_edit', { 'id': album.id }) }}">{{ icon('edit') }}&nbsp;{{ 'album.edit'|trans({}, 'FotoJoinControlPanelBundle') }}</a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-confirm">{{ icon('trash-o') }}&nbsp;{{ 'album.delete'|trans({}, 'FotoJoinControlPanelBundle') }}</button>
                            <div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'Are you sure?'|trans({}, 'FotoJoinControlPanelBundle') }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>{{ 'Deleted records can not be recovered.'|trans({}, 'FotoJoinControlPanelBundle') }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="pull-right" style="height:34px;">
                                                {{ form_start(delete_form) }}
                                                    <button type="submit" class="btn btn-danger">{{ icon('trash-o') }}&nbsp;{{ 'album.delete'|trans({}, 'FotoJoinControlPanelBundle') }}</button>
                                                {{ form_end(delete_form) }}</div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="panel-body">
                        <dl class="dl-horizontal dl-horizontal-sm dl-horizontal-md dl-horizontal-lg">
                                <dt>{{ 'album.name'|trans({}, 'FotoJoinControlPanelBundle') }}</dt>
                                    <dd>{% if album.name %}{{ album.name }}{% endif %}</dd>
                                <dt>{{ 'album.createdAt'|trans({}, 'FotoJoinControlPanelBundle') }}</dt>
                                    <dd>{% if album.createdAt %}{{ album.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}{% endif %}</dd>
                                <dt>{{ 'album.updatedAt'|trans({}, 'FotoJoinControlPanelBundle') }}</dt>
                                    <dd>{% if album.updatedAt %}{{ album.updatedAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}{% endif %}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}

