{% extends 'FotoJoinAdminBundle:Photography:layout.html.twig' %}

{% trans_default_domain 'FotoJoinAdminBundle' %}

{% block title %}{{ 'photography.index.title'|trans }}{% endblock %}

{% block photography %}
    <div class="row" id="page-list">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'photography.index.list'|trans }}</h2>
                </div>
                <div class="table-responsive">
                    <table class="records_list table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('search fa-fw') }}</a></div>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('trash fa-fw') }}</a></div>
                                </th>
                                <th>{{ knp_pagination_sortable(photographies, 'photography.form.id'|trans, 'id') }}{% if sort == 'id' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(photographies, 'photography.form.user'|trans, 'user') }}{% if sort == 'user' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(photographies, 'photography.form.album'|trans, 'album') }}{% if sort == 'album' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(photographies, 'photography.form.value'|trans, 'value') }}{% if sort == 'value' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(photographies, 'photography.form.published'|trans, 'published') }}{% if sort == 'published' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(photographies, 'photography.form.filename'|trans, 'filename') }}{% if sort == 'filename' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for key, photography in photographies %}
                            <tr>
                                <td>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default" href="{{ path('admin_photography_show', { 'id': photography.id }) }}">{{ icon('search fa-fw') }}</a></div>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-warning" href="{{ path('admin_photography_edit', { 'id': photography.id }) }}">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-danger" href="{{ path('admin_photography_delete', { 'id': photography.id }) }}">{{ icon('trash fa-fw') }}</a></div>
                                </td>
                                <td>{% if photography.id %}{{ photography.id }}{% endif %}</td>
                                <td>{% if photography.user %}{{ photography.user }}{% endif %}</td>
                                <td>{% if photography.album %}{{ photography.album }}{% endif %}</td>
                                <td>{% if photography.value %}{{ photography.value }}{% endif %}</td>
                                <td>{% if photography.published %}{{ photography.published }}{% endif %}</td>
                                <td>{% if photography.filename %}{{ photography.filename }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        {{ knp_pagination_render(photographies) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-list -->

{% endblock %}
