{% extends 'FotoJoinGalleryBundle::base.html.twig' %}

{% use 'FotoJoinGalleryBundle:Gallery:user.html.twig' %}
{% use 'FotoJoinGalleryBundle:Gallery:capture.html.twig' %}
{% use 'FotoJoinGalleryBundle:Gallery:appraisement.html.twig' %}
{% use 'FotoJoinGalleryBundle:Gallery:share.html.twig' %}

{% block stylesheet %}
    <link href="{{ asset('css/bootstrap-social/bootstrap-social.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    {% include 'FotoJoinGalleryBundle:Gallery:filter.html.twig' %}
    <!-- /.col-md-3 -->
    <div class="col-md-9">
        <div class="row" id="response">
            <div class="col-md-12">
                {% for photography in photographies %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 nopadding">
                        <a href="#{{ photography.id }}" data-toggle="modal" data-target="#modal">
                            <img class="img-responsive" src="{{ vich_uploader_asset(photography, 'file', 'FotoJoin\\ControlPanelBundle\\Entity\\Photography')|imagine_filter('gallery_photography_small') }}" alt="{{ 1 }}" />
                        </a>
                    </div>
                {% endfor %}

                <div id="modal" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">{{ icon('times') }}</button>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                        <div id="modalCarousel" class="carousel" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                {% for key, photography in photographies %}
                                                    {% set appraisementAverage = attribute(appraisementAverages, key) %}
                                                    {% set appraisementQuantity = attribute(appraisementQuantities, key) %}

                                                    {% if loop.first %}<div class="item active">{% else %}<div class="item">{% endif %}
                                                        <img class="img-responsive" src="{{ vich_uploader_asset(photography, 'file', 'FotoJoin\\ControlPanelBundle\\Entity\\Photography')|imagine_filter('gallery_photography_medium') }}" alt="{{ 1 }}" />
                                                        <div id="carousel-caption">
                                                            {% block captionuser %}{{ parent() }}{% endblock %}
                                                            {% block captioncapture %}{{ parent() }}{% endblock %}
                                                            {% block captionappraisement %}{{ parent() }}{% endblock %}
                                                            {% block captionshare %}{{ parent() }}{% endblock %}

                                                            <button class="demo btn btn-primary btn-lg" data-toggle="modal" href="#stack1">View Demo</button>
                                                            {#}<button type="button" class="btn btn-block btn-default" data-dismiss="modal" aria-label="Close">{{ icon('times') }} Cerrar</button>{#}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <a class="left carousel-control" href="#modalCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                                <a class="right carousel-control" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                        <div id="modal-caption"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="stack1" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Modal 1</p>
                                <button class="btn btn-default" data-toggle="modal" href="#stack2">Launch modal</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="stack2" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">
                    <div class="modal-dialog modal-md" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Modal 2</p>
                                <button class="btn btn-default" data-toggle="modal" href="#stack3">Launch modal</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="stack3" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Modal 3</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-md-3 -->

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    var optionsCities = {
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        enableFiltering: true,
        includeSelectAllOption: true,
        buttonWidth: '100%',
        allSelectedText: 'Todas las Ciudades',
        nonSelectedText: 'Ninguna Ciudad Seleccionada',
        nSelectedText: 'Ciudades seleccionadas',
        delimiterText: ', ',
        selectAllText: 'Seleccionar Todo',
        filterPlaceholder: 'Buscar',
        disableIfEmpty: true,
        onChange: function() {
            var $form = $('#gallery_form');
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: $form.serializeArray(),
                success: function(html) {
                    $('#gallery_categories').multiselect('destroy');
                    $('#gallery_categories').replaceWith($(html).find('#gallery_categories'));
                    $('#gallery_categories').multiselect(optionsCategories);
                    $('#gallery_users').multiselect('destroy');
                    $('#gallery_users').replaceWith($(html).find('#gallery_users'));
                    $('#gallery_users').multiselect(optionsUsers);
                }
            });
        }
    };
    var optionsCategories = {
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        enableFiltering: true,
        includeSelectAllOption: true,
        buttonWidth: '100%',
        allSelectedText: 'Todas las Categorías',
        nonSelectedText: 'Ninguna Categoría Seleccionada',
        nSelectedText: 'Categorías seleccionadas',
        delimiterText: ', ',
        selectAllText: 'Seleccionar Todo',
        filterPlaceholder: 'Buscar',
        disableIfEmpty: true,
        onChange: function() {
            var $form = $('#gallery_form');
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: $form.serializeArray(),
                success: function(html) {
                    $('#gallery_users').multiselect('destroy');
                    $('#gallery_users').replaceWith($(html).find('#gallery_users'));
                    $('#gallery_users').multiselect(optionsUsers);
                }
            });
        }
    };
    var optionsUsers = {
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        enableFiltering: true,
        includeSelectAllOption: true,
        buttonWidth: '100%',
        allSelectedText: 'Todos los Fotógrafos',
        nonSelectedText: 'Ningún Fotógrafo Seleccionado',
        nSelectedText: 'Autores seleccionados',
        delimiterText: ', ',
        selectAllText: 'Seleccionar Todo',
        filterPlaceholder: 'Buscar',
        disableIfEmpty: true
    };
    var optionsOrder = {
        disableIfEmpty: true,
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        buttonWidth: '100%'
    };
    $('#gallery_cities').multiselect(optionsCities);
    $('#gallery_categories').multiselect(optionsCategories);
    $('#gallery_users').multiselect(optionsUsers);
    $('#gallery_order').multiselect(optionsOrder);

    function loadCarousel(){
        $('#modalCarousel').carousel({interval:false});
        var caption = $('div.item:nth-child(1) #carousel-caption');
        $('#modal-caption').html(caption.html());
        caption.css('display','none');
        $("#modalCarousel").on('slide.bs.carousel', function(evt) {
            var key = $(evt.relatedTarget).index();
            var caption = $('div.item:nth-child(' + (key+1) + ') #carousel-caption');
            $('#modal-caption').html(caption.html());
            caption.css('display','none');
            //loadAppraisement(key);
        });
    }

    $(document).ready(function() {
        loadCarousel();
    });

    $('#modalCarousel').carousel({interval:false});

    /* change modal title when slide changes */
    $('#modalCarousel').on('slid.bs.carousel', function () {
        $('.modal-title').html($(this).find('.active').attr("title"));
    })

    /* when clicking a thumbnail */
    $('.row .img-responsive').click(function(){
        var idx = $(this).parents('div').index();
        var id = parseInt(idx);
        $('#myModal').modal('show'); // show the modal
        $('#modalCarousel').carousel(id); // slide carousel to selected
    });
    </script>
    <script src="//platform.twitter.com/widgets.js" async charset="utf-8"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="//connect.facebook.net/en_US/sdk.js" async defer id="facebook-jssdk"></script>
    <script src="{{ asset('js/share-init.js') }}"></script>
{% endblock %}
