{% block captionuser %}
    <div id="credential">
        <h3>{{ icon('user fa-fw') }}{{ 'photography.user.title'|trans({}, 'FotoJoinGalleryBundle') }}</h3>
        <div class="media">
            <div class="media-left">
                {% set profilephotourl = vich_uploader_asset(photography.user, 'profilephoto', 'FotoJoin\\UserBundle\\Entity\\User') %}
                {% if profilephotourl is null %}{% set profilephotourl = '/uploads/profilephoto/default.png' %}{% endif %}
                <img class="media-object" src="{{ profilephotourl|imagine_filter('user_credential_small') }}" />
            </div>
            <div class="media-body">
                {% if photography.user.name %}<h3 class="media-heading">{{ photography.user.name }}</h3>{% endif %}
                {% if photography.user %}{% if photography.user.level is not null %}<h4 class="media-heading">{{ user_level[photography.user.level]|trans({}, 'FotoJoinUserBundle') }}</h4>{% endif %}{% endif %}
{#}
                {% if photography.user.email %}<h5 class="media-heading">{{ photography.user.email }}</h5>{% endif %}
{#}
                {% if app.user and photography.user.publiccontact %}{% if photography.user.email %}<a href="{{ path('message_contact', {transmitter : photography.user.id}) }}" class="btn btn-default btn-block" target="_blank">Contacto</a>{% endif %}
                {% else %}{% if photography.user.email %}<button data-toggle="modal" data-target="#invitationModal" class="btn btn-default btn-block">Contacto</button>{% endif %}
                {% endif %}

            </div>
        </div>
    </div>
    <hr>
{% endblock %}
