{% extends 'FotoJoinAdminBundle:City:layout.html.twig' %}

{% trans_default_domain 'FotoJoinAdminBundle' %}

{% block title %}{{ 'city.edit.title'|trans }}{% endblock %}

{% block city %}
    <div class="row" id="page-edit">
        <div class="col-lg-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'city.edit.form'|trans }}</h2>
                </div>
                <div class="panel-body">
                    {{ form_start(editForm, { 'style': 'horizontal' }) }}
                        {{ form_widget(editForm) }}
                            <div class="form-group"><div class="col-lg-offset-4 col-lg-8">
                                <button type="submit" class="btn btn-primary">{{ icon('save') }}&nbsp;{{ 'city.edit.submit'|trans }}</button>
                            </div></div>
                    {{ form_end(editForm) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-edit -->

{% endblock %}


