{% extends 'FotoJoinAdminBundle:City:layout.html.twig' %}

{% trans_default_domain 'FotoJoinAdminBundle' %}

{% block title %}{{ 'city.index.title'|trans }}{% endblock %}

{% block city %}
    <div class="row" id="page-list">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'city.index.list'|trans }}</h2>
                </div>
                <div class="table-responsive">
                    <table class="records_list table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('search fa-fw') }}</a></div>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('trash fa-fw') }}</a></div>
                                </th>
                                <th>{{ knp_pagination_sortable(cities, 'city.form.id'|trans, 'id') }}{% if sort == 'id' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(cities, 'city.form.name'|trans, 'name') }}{% if sort == 'name' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for key, city in cities %}
                            <tr>
                                <td>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default" href="{{ path('admin_city_show', { 'id': city.id }) }}">{{ icon('search fa-fw') }}</a></div>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-warning" href="{{ path('admin_city_edit', { 'id': city.id }) }}">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-danger" href="{{ path('admin_city_delete', { 'id': city.id }) }}">{{ icon('trash fa-fw') }}</a></div>
                                </td>
                                <td>{% if city.id %}{{ city.id }}{% endif %}</td>
                                <td>{% if city.name %}{{ city.name }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        {{ knp_pagination_render(cities) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-list -->

{% endblock %}
