{% block toolbar %}
    {% trans_default_domain 'FotoJoinAdminBundle' %}
    <div class="row" id="page-toolbar">
        <div class="col-lg-12">
            <div class="btn-toolbar">
                <a type="button" class="btn btn-default" href="{{ path('admin_city_index') }}">{{ icon('list fa-fw') }}&nbsp;{{ 'city.index.link'|trans }}</a>
                <a type="button" class="btn btn-success" href="{{ path('admin_city_new') }}">{{ icon('plus fa-fw') }}&nbsp;{{ 'city.new.link'|trans }}</a>
            </div>
        </div>
    </div>
    <p></p>
    <!-- /#page-toolbar -->

{% endblock %}