{% extends "FotoJoinFrontPageBundle:Base:base.html.twig" %}
{% use 'FotoJoinFrontPageBundle:Base:navbar.html.twig' %}

{% trans_default_domain 'FotoJoinUserBundle' %}

{% block title %}{{ 'registration.confirmed.title'|trans }}{% endblock %}

{% block stylesheet %}
    <link href="{{ asset('css/bootstrap-social/bootstrap-social.css') }}" rel="stylesheet">
    <style type="text/css">
        #register {
            margin-top: 130px;
        }
    </style>
{% endblock %}

{% block body %}
{% block navbar %}{{ parent() }}{% endblock %}

<div class="section" id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Cuenta confirmada</h2>
                    </div>
                    <div class="panel-body text-center">
                        <p>{{ 'registration.confirmed.message'|trans({'%username%': user.username, '%name%': user.name}) }}</p>
                        <a class="btn btn-primary btn-lg" href="{{ path('foto_join_gallery_homepage') }}" role="button">{{ icon('picture-o fa-fw') }}&nbsp;Ir a la galería fotográfica</a>
                        <a class="btn btn-primary btn-lg" href="{{ path('fos_user_profile_show') }}" role="button">{{ icon('user fa-fw') }}&nbsp;Ir a mi perfil de usuario</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'FotoJoinFrontPageBundle:Base:footer.html.twig' %}

{% endblock body %}