{% block features %}
    <div class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="text-center">Funcionamiento</h2>
                    <h4 class="text-center">Todo lo que necesitas para <b>ser contratado en base a estadísticas.</b></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/640x384">
                </div>
                <div class="col-md-6">
                    <div class="feature">
                        {{ icon('laptop fa-3x') }}
                        <h3>Fotógrafos</h3>
                        <p>El fotógrafo podrá subir tomas, definir su exigencia interna para la posterior exhibición de estas tras haber sido evaluadas por múltiples personas y eventualmente ser contactado <strong>en base a estadísticas recibidas.</strong></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="feature">
                        {{ icon('laptop fa-3x') }}
                        <h3>Juega y Participa (Evaluadores)</h3>
                        <p>Aquellas personas amantes de la fotografía podrán evaluar cuantas fotos quieran, mientras mas certeras sean tus evaluaciones respecto al histórico registrado de cada fotos más puntos podrás ganar y eventualmente canjear.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/640x384">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="feature">
                        {{ icon('check-square-o fa-3x') }}
                        <h3>Panel</h3>
                        <p>Información de contacto, carga de imágenes y <strong>posibilidad</strong> de permitir compartir en redes sociales.&nbsp;</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        {{ icon('sitemap fa-3x') }}
                        <h3>Filtro Exigencia</h3>
                        <p>Internamente, podrás definir que nivel de fotos deseas exhibir. Desde que nota.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        {{ icon('cloud-download fa-3x') }}
                        <h3>Descarga</h3>
                        <p>Descarga aquellas imágenes que hayan cumplido tu exigencia.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        {{ icon('line-chart fa-3x') }}
                        <h3>Estadísticas</h3>
                        <p>Reporte privado de tu evolución mensual en base a las distintas categorías.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}