{% block pricing %}
    <div class="section" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">Pricing</h2>
                    <p class="text-center">We do not need your credit card.&nbsp;<strong class="bold-text">30 days</strong>&nbsp;money back guarantee.</p>
                </div>
            </div>
            <div class="row">
                <div class="prices">
                    <div class="price">
                        <ul class="list-group">
                            <li class="list-group-item"><h3>{{'Beginners'|upper}}</h3></li>
                            <li class="list-group-item value">{{'Free'|upper}}</li>
                            <li class="list-group-item"><b>6 Months</b> Duration</li>
                            <li class="list-group-item"><b>Limited</b> Uploads</li>
                            <li class="list-group-item"><b>Automatic</b> Filters</li>
                            <li class="list-group-item"><b>Individual</b> Statistics</li>
                            <li class="list-group-item"><b>Limited</b> Contact</li>
                        </ul>
                    </div>
                    <div class="price main">
                        <ul class="list-group">
                            <li class="list-group-item"><h3>{{'Enthusiasts'|upper}}</h3></li>
                            <li class="list-group-item value">{{'USD $10'|upper}}</li>
                            <li class="list-group-item"><b>12 Months</b> Duration</li>
                            <li class="list-group-item"><b>Extended</b> Uploads</li>
                            <li class="list-group-item"><b>Flexible</b> Filters</li>
                            <li class="list-group-item"><b>Individual</b> Statistics</li>
                            <li class="list-group-item"><b>Limited</b> Contact</li>
                        </ul>
                    </div>
                    <div class="price">
                        <ul class="list-group">
                            <li class="list-group-item"><h3>{{'Professionals'|upper}}</h3></li>
                            <li class="list-group-item value">{{'USD $20'|upper}}</li>
                            <li class="list-group-item"><b>12 Months</b> Duration</li>
                            <li class="list-group-item"><b>Extended</b> Uploads</li>
                            <li class="list-group-item"><b>Flexible</b> Filters</li>
                            <li class="list-group-item"><b>Global</b> Statistics</li>
                            <li class="list-group-item"><b>Full</b> Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}