{% block location %}
    <div class="col-md-8" style="margin-bottom:5px;">
        <ol class="breadcrumb">
            <li><a data-content="Buscar en todo el país" data-toggle="popover" data-placement="bottom" href="{{ path('ranking_photographer_index') }}">País: Chile</a></li>
            {% if region %}
            <li><a data-content="Buscar en la región" data-toggle="popover" data-placement="bottom" href="{{ path('ranking_photographer_index', {'region' : region.id }) }}">Región: {{ region.name }}</a></li>
            {% endif %}
            {% if province %}
            <li><a data-content="Buscar en la provincia" data-toggle="popover" data-placement="bottom" href="{{ path('ranking_photographer_index', {'region' : region.id, 'province' : province.id }) }}">Provincia: {{ province.name }}</a></li>
            {% endif %}
            {% if commune %}
            <li><a data-content="Buscar en la comuna" data-toggle="popover" data-placement="bottom" href="{{ path('ranking_photographer_index', {'region' : region.id, 'province' : province.id, 'commune' : commune.id }) }}">Comuna: {{ commune.name }}</a></li>
            {% endif %}
        </ol>
        {% if not region %}
        {% for region in regions %}
            <a data-content="Seleccionar región" data-toggle="popover" data-placement="bottom" href="{{ path('ranking_photographer_index', {'region' : region.id }) }}" class="btn btn-primary btn-sm">{{ icon('map-marker fa-fw') }}&nbsp;{{ region.name }}</a>
        {% endfor %}
        {% endif %}

        {% if not province %}
        {% for province in provinces %}
            <a data-content="Seleccionar provincia" data-toggle="popover" data-placement="bottom" href="{{ path('ranking_photographer_index', {'region' : region.id, 'province' : province.id }) }}" class="btn btn-primary btn-sm">{{ icon('map-marker fa-fw') }}&nbsp;{{ province.name }}</a>
        {% endfor %}
        {% endif %}

        {% if not commune %}
        {% for commune in communes %}
            <a data-content="Seleccionar comuna" data-toggle="popover" data-placement="bottom" href="{{ path('ranking_photographer_index', {'region' : region.id, 'province' : province.id, 'commune' : commune.id }) }}" class="btn btn-primary btn-sm">{{ icon('map-marker fa-fw') }}&nbsp;{{ commune.name }}</a>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}