{% extends 'FotoJoinAdminBundle:Category:layout.html.twig' %}

{% trans_default_domain 'FotoJoinAdminBundle' %}

{% block title %}{{ 'category.show.title'|trans }}{% endblock %}

{% block category %}

    <div class="row" id="page-show">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'category.show.title'|trans }}</h2>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>{{ 'category.form.id'|trans }}</dt><dd>{% if category.id %}{{ category.id }}{% endif %}</dd>
                        <dt>{{ 'category.form.name'|trans }}</dt><dd>{% if category.name %}{{ category.name }}{% endif %}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="btn-toolbar">
                <div class="btn-group"><a type="button" class="btn btn-warning" href="{{ path('admin_category_edit', {'id' : category.id}) }}">{{ icon('edit fa-fw') }}&nbsp;{{ 'category.edit.link'|trans }}</a></div>
                <div class="btn-group"><a type="button" class="btn btn-danger" href="{{ path('admin_category_delete', {'id' : category.id}) }}">{{ icon('times fa-fw') }}&nbsp;{{ 'category.delete.link'|trans }}</a></div>
            </div>
        </div>
    </div>
    <!-- /#page-show -->

{% endblock %}

