{% extends 'FotoJoinControlPanelBundle:Photography:layout.html.twig' %}

{% trans_default_domain 'FotoJoinControlPanelBundle' %}

{% block title %}{{ 'photography.edit'|trans }}{% endblock %}

{% block photography %}
    {% include 'FotoJoinControlPanelBundle:Base:flashbag.html.twig' %}

    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-warning">
                <div class="panel-body">
                    {{ form_start(editForm, { 'style': 'horizontal' }) }}
{#}
                        <div class="form-group">
                            <label class="control-label col-lg-3">{{ 'photography.image'|trans }}</label>
                            <div class="col-lg-9"><img class="img-thumbnail" src="{{ vich_uploader_asset(photography, 'file')|imagine_filter('controlpanel_photography_small') }}" /></div>
                        </div>
{#}
                        {{ form_widget(editForm) }}
                        <div class="form-group"><div class="col-lg-offset-3 col-lg-9">
                            <button type="submit" class="btn btn-primary">{{ icon('save fa-fw') }}&nbsp;{{ 'photography.edit.submit'|trans }}</button>
                        </div></div>
                    {{ form_end(editForm) }}
                </div>
            </div>
        </div>
        <!-- /.col-md-12 -->

    </div>
    <!-- /.row -->

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var optionsCategories = {
            enableClickableOptGroups: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: false,
            includeSelectAllOption: false,
            buttonWidth: '100%',
            allSelectedText: 'Todas las Categorías',
            nonSelectedText: 'Ninguna Categoría',
            nSelectedText: 'nSelectedText',
            delimiterText: ', ',
            selectAllText: 'Seleccionar Todo',
            filterPlaceholder: 'Buscar'
        };
        $('#photography_categories').multiselect(optionsCategories);
    </script>
{% endblock %}