{% extends 'FotoJoinControlPanelBundle:Photography:layout.html.twig' %}

{% trans_default_domain 'FotoJoinControlPanelBundle' %}

{% block title %}{{ 'photography.index.title'|trans }}{% endblock %}

{% block photography %}
    {% include 'FotoJoinControlPanelBundle:Base:flashbag.html.twig' %}

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'photography.index.title'|trans }}</h1>
                </div>
                <div class="panel-body">
                    {% if photographies is not empty %}
                    {% for key, photography in photographies %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{{ vich_uploader_asset(photography, 'file')|imagine_filter('controlpanel_photography_small') }}" alt="{{ 1 }}" />
                            <div class="caption">
                                <a href="{{ path('photography_show', {id: photography.id}) }}" type="button" class="btn btn-default btn-xs">{{ icon('image fa-fw') }}</a>
                                <a href="{{ path('photography_index', {album: photography.album.id}) }}" type="button" class="btn btn-primary btn-xs">{{ icon('book fa-fw') }}</a>
                                <a href="{{ path('photography_edit', {id: photography.id}) }}" type="button" class="btn btn-warning btn-xs">{{ icon('edit fa-fw') }}</a>
                                <a href="{{ path('photography_delete', {id: photography.id}) }}" type="button" class="btn btn-danger btn-xs">{{ icon('trash-o fa-fw') }}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                        {{ 'photography.index.empty'|trans }}
                    {% endif %}
                </div>

                <div class="panel-footer">
                    <div class="text-center">
                        {{ knp_pagination_render(photographies) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}

