{% extends 'FotoJoinControlPanelBundle:Photography:layout.html.twig' %}

{% trans_default_domain 'FotoJoinControlPanelBundle' %}

{% block title %}{{ 'photography.show.title'|trans }}{% endblock %}

{% block photography %}
    {% include 'FotoJoinControlPanelBundle:Base:flashbag.html.twig' %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>{{ 'photography.image'|trans }}</dt><dd><img class="img-thumbnail" src="{{ vich_uploader_asset(photography, 'file')|imagine_filter('controlpanel_photography_small') }}" /></dd>
                        {% if photography.album %}<dt>{{ 'photography.album'|trans }}</dt><dd>{{ photography.album }}</dd>{% endif %}
                        {% if photography.filename %}<dt>{{ 'photography.filename'|trans }}</dt><dd>{{ photography.filename }}</dd>{% endif %}
                        {% if photography.makemodel %}<dt>{{ 'photography.form.makemodel'|trans }}</dt><dd>{{ photography.makemodel }}</dd>{% endif %}
                        {% if photography.exposuretime %}<dt>{{ 'photography.form.exposuretime'|trans }}</dt><dd>{{ photography.exposuretime }}</dd>{% endif %}
                        {% if photography.fnumber %}<dt>{{ 'photography.form.fnumber'|trans }}</dt><dd>{{ photography.fnumber }}</dd>{% endif %}
                        {% if photography.isospeedratings %}<dt>{{ 'photography.form.isospeedratings'|trans }}</dt><dd>{{ photography.isospeedratings }}</dd>{% endif %}
                        {% if photography.focallength %}<dt>{{ 'photography.form.focallength'|trans }}</dt><dd>{{ photography.focallength }}</dd>{% endif %}
                        {% if photography.datetimeoriginal %}<dt>{{ 'photography.form.datetimeoriginal'|trans }}</dt><dd>{{ photography.datetimeoriginal|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}</dd>{% endif %}
                    </dl>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}

