{% block tools %}
    {% trans_default_domain 'FotoJoinControlPanelBundle' %}
    {% if album is defined and album %}
    <ul class="nav nav-pills">
        <li><a type="button" class="btn btn-primary" href="{{ path('photography_index', { 'album': album.id }) }}">{{ icon('image fa-fw') }}&nbsp;{{ 'photography.index.link'|trans }}</a></li>
        <li><a type="button" class="btn btn-success" href="{{ path('photography_dropzone', { 'album': album.id }) }}">{{ icon('arrow-up fa-fw') }}&nbsp;{{ 'photography.new.link'|trans }}</a></li>
        <li><a type="button" class="btn btn-default" href="{{ path('album_show', { 'id': album.id }) }}">{{ icon('book fa-fw') }}&nbsp;{{ 'album.show.link'|trans }}</a></li>
        <li><a type="button" class="btn btn-warning" href="{{ path('album_edit', { 'id': album.id }) }}">{{ icon('edit fa-fw') }}&nbsp;{{ 'album.edit.link'|trans }}</a></li>
        <li><a type="button" class="btn btn-danger" href="{{ path('album_delete', { 'id': album.id }) }}">{{ icon('trash fa-fw') }}&nbsp;{{ 'album.delete.link'|trans }}</a></li>
    </ul>
    <p></p>
    {% endif %}
    {% if photography is defined %}
    <ul class="nav nav-pills">
        <li><a type="button" class="btn btn-primary" href="{{ path('photography_index', { 'album': photography.album.id }) }}">{{ icon('book fa-fw') }}&nbsp;{{ 'photography.index.album'|trans }}</a></li>
        <li><a type="button" class="btn btn-default" href="{{ path('photography_show', { 'id': photography.id }) }}">{{ icon('image fa-fw') }}&nbsp;{{ 'photography.show.link'|trans }}</a></li>
        <li><a type="button" class="btn btn-warning" href="{{ path('photography_edit', { 'id': photography.id }) }}">{{ icon('edit fa-fw') }}&nbsp;{{ 'photography.edit.link'|trans }}</a></li>
        <li><a type="button" class="btn btn-danger" href="{{ path('photography_delete', { 'id': photography.id }) }}">{{ icon('trash fa-fw') }}&nbsp;{{ 'photography.delete.link'|trans }}</a></li>
    </ul>
    <p></p>
    {% endif %}
{% endblock %}