{% block pricing %}
    <div class="section" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">{{'Planes y Precios'|upper}}</h2>
                    <p class="text-center">No necesitamos tu tarjeta de crédito,&nbsp;<strong class="bold-text">30 días</strong>&nbsp;de garantía de devolución del dinero.</p>
                </div>
            </div>
            <div class="row">
                <div class="prices">
                    <div class="price">
                        <ul class="list-group">
                            <li class="list-group-item"><h3>{{'Principiantes'|upper}}</h3></li>
                            <li class="list-group-item value">{{'Gratis'|upper}}</li>
                            <li class="list-group-item">Duración <b>6 Meses</b></li>
                            <li class="list-group-item">Carga <b>Limitada</b></li>
                            <li class="list-group-item">Filtro <b>Automático</b></li>
                            <li class="list-group-item">Estadísticas <b>Individuales</b></li>
                            <li class="list-group-item">Contacto <b>Limitado</b></li>
                        </ul>
                    </div>
                    <div class="price main">
                        <ul class="list-group">
                            <li class="list-group-item"><h3>{{'Entusiastas'|upper}}</h3></li>
                            <li class="list-group-item value">{{'CLP $6.990'|upper}}</li>
                            <li class="list-group-item">Duración <b>12 Meses</b></li>
                            <li class="list-group-item">Carga <b>Extendida</b></li>
                            <li class="list-group-item">Filtro <b>Configurable</b></li>
                            <li class="list-group-item">Estadísticas <b>Individuales</b></li>
                            <li class="list-group-item">Contacto <b>Limitado</b></li>
                        </ul>
                    </div>
                    <div class="price">
                        <ul class="list-group">
                            <li class="list-group-item"><h3>{{'Profesionales'|upper}}</h3></li>
                            <li class="list-group-item value">{{'CLP $9.990'|upper}}</li>
                            <li class="list-group-item">Duración <b>12 Meses</b></li>
                            <li class="list-group-item">Carga <b>Ilimitada</b></li>
                            <li class="list-group-item">Filtro <b>Configurable</b></li>
                            <li class="list-group-item">Estadísticas <b>Globales</b></li>
                            <li class="list-group-item">Contacto <b>Completo</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}