{% extends 'FotoJoinControlPanelBundle:Album:layout.html.twig' %}

{% trans_default_domain 'FotoJoinControlPanelBundle' %}

{% block title %}{{ 'album.show.title'|trans }}{% endblock %}

{% block album %}
    {% include 'FotoJoinControlPanelBundle:Base:flashbag.html.twig' %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'album.edit.title'|trans }}</h1>
                </div>
                <div class="panel-body">
                    {{ form_start(edit_form, { 'style': 'horizontal' }) }}
                        {{ form_row(edit_form.name) }}
                        {{ form_row(edit_form.photographies) }}
                        <div class="form-group"><div class="col-xs-12 col-md-offset-4">
                            <button type="submit" class="btn btn-primary">{{ icon('save fa-fw') }}&nbsp;{{ 'album.edit.submit'|trans }}</button>
                        </div></div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    var optionsCategories = {
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        buttonWidth: '100%',
        allSelectedText: 'Todas las Categorías',
        nonSelectedText: 'Ninguna Categoría Seleccionada',
        nSelectedText: 'Categorías seleccionadas',
        delimiterText: ', ',
        selectAllText: 'Seleccionar Todo',
        filterPlaceholder: 'Buscar',
        disableIfEmpty: true,
    };
    $('.photography_categories').multiselect(optionsCategories);
    </script>
{% endblock %}