{% extends 'FotoJoinControlPanelBundle::base.html.twig' %}

{% block title %}{{ 'album.edit'|trans({}, 'FotoJoinControlPanelBundle') }}{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% include 'FotoJoinControlPanelBundle::icon.html.twig' %}{{ 'album.edit'|trans({}, 'FotoJoinControlPanelBundle') }}</h1>
                {% include 'FotoJoinControlPanelBundle::flashbag.html.twig' %}
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-toolbar">
                            <a type="button" class="btn btn-default" href="{{ path('album_index') }}">{{ icon('list') }}&nbsp;{{ 'album.list'|trans({}, 'FotoJoinControlPanelBundle') }}</a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-confirm">{{ icon('trash-o') }}&nbsp;{{ 'album.delete'|trans({}, 'FotoJoinControlPanelBundle') }}</button>
                            <div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'Are you sure?'|trans({}, 'FotoJoinControlPanelBundle') }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>{{ 'Deleted records can not be recovered.'|trans({}, 'FotoJoinControlPanelBundle') }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="pull-right" style="height:34px;">
                                                {{ form_start(delete_form) }}
                                                    <button type="submit" class="btn btn-danger">{{ icon('trash-o') }}&nbsp;{{ 'album.delete'|trans({}, 'FotoJoinControlPanelBundle') }}</button>
                                                {{ form_end(delete_form) }}</div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ form_start(edit_form, { 'style': 'horizontal', 'attr': { 'class': 'dropzone', 'id': 'my-dropzone'} }) }}
                            {{ form_widget(edit_form) }}
{#}
                                <input name="file" type="file" multiple />
                                <div class="form-group"><div class="col-lg-offset-3 col-lg-9">
                                    <button type="submit" class="btn btn-primary">{{ icon('save') }}&nbsp;{{ 'album.save'|trans({}, 'FotoJoinControlPanelBundle') }}</button>
                                </div></div>
{#}
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/dropzone/dropzone.js') }}"></script>
    <script type="text/javascript">
//        Dropzone.autoDiscover = false;
        Dropzone.options.myDropzone = {
//        $("#dropzone").dropzone({
            dictDefaultMessage: 'Arrastre sus fotos aquí para iniciar la carga',
            addRemoveLinks: true,
            maxFilesize: 20,
            paramName: 'photography',
            init: function () {
                var dropzone = this;
                var mockFile;
                var imageUrl;
                {% for photography in photographies %}
                    mockFile = { name: "{{ photography.filename }}", size: 12345, type: 'image/jpeg', status: Dropzone.ADDED };
                    imageUrl = "{{ vich_uploader_asset(photography, 'file')|imagine_filter('album_dropzone') }}";
                    dropzone.emit("addedfile", mockFile);
                    dropzone.emit("thumbnail", mockFile, imageUrl);
                    dropzone.emit("complete", mockFile);
                {% endfor %}
            }            
        };
//        console.log($("#dropzone").options);
//        for (var i = 0; i < existingFilesCount; i++) {
//        }

    </script>
{% endblock %}