{% extends 'FotoJoinControlPanelBundle:Album:layout.html.twig' %}

{% trans_default_domain 'FotoJoinControlPanelBundle' %}

{% block title %}{{ 'album.index.title'|trans }}{% endblock %}

{% block album %}
    {% include 'FotoJoinControlPanelBundle:Base:flashbag.html.twig' %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'album.index.list'|trans }}</h1>
                </div>
                <div class="table-responsive">
                    <table class="records_list table table-striped table-hover table-middle">
                        <thead>
                            <tr>
                                <th>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-default disabled">{{ icon('search fa-fw') }}</a></div>
{#}
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-default disabled">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-default disabled">{{ icon('times fa-fw') }}</a></div>
{#}
                                </th>
                                <th>{{ knp_pagination_sortable(albums, 'album.form.name'|trans, 'name') }}{% if sort == 'name' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(albums, 'album.form.createdAt'|trans, 'createdAt') }}{% if sort == 'createdAt' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(albums, 'album.form.updatedAt'|trans, 'updatedAt') }}{% if sort == 'updatedAt' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for album in albums %}
                            <tr>
                                <td>
                                    <div class="btn-group"><a href="{{ path('album_show', {'id' : album.id}) }}" class="btn btn-xs btn-default">{{ icon('search fa-fw') }}</a></div>
{#}
                                    <div class="btn-group"><a href="{{ path('album_edit', {'id' : album.id}) }}" class="btn btn-xs btn-warning">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="{{ path('album_delete', {'id' : album.id}) }}" class="btn btn-xs btn-danger">{{ icon('times fa-fw') }}</a></div>
{#}
                                </td>
                                <td>{% if album.name %}{{ album.name }}{% endif %}</td>
                                <td>{% if album.createdAt %}{{ album.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd-LLL-Y - HH:mm") }}{% endif %}</td>
                                <td>{% if album.updatedAt %}{{ album.updatedAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd-LLL-Y - HH:mm") }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer">
                    <div class="text-center">
                        {{ knp_pagination_render(albums) }}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
{#}
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Nuevo Álbum</h4>
                        </div>
                        <div class="modal-body">
                            {{ form_start(albumForm, { 'style': 'horizontal' }) }}
                            {{ form_row(albumForm.name) }}
                                <div class="form-group"><div class="col-lg-offset-4 col-lg-8">
                                    <button type="submit" class="btn btn-primary">{{ icon('plus') }}&nbsp;{{ 'album.register'|trans }}</button>
                                </div></div>
                            {{ form_end(albumForm) }}
                        </div>
                    </div>
                </div>
            </div>
{#}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}
