{% extends 'FotoJoinControlPanelBundle:Album:layout.html.twig' %}

{% trans_default_domain 'FotoJoinControlPanelBundle' %}

{% block title %}{{ 'album.new.title'|trans }}{% endblock %}

{% block album %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'album.new.title'|trans }}</h1>
                </div>
                <div class="panel-body">
                    {{ form_start(newForm, { 'style': 'horizontal' }) }}
                        {{ form_widget(newForm) }}
                        <div class="form-group">
                            <div class="col-lg-offset-4 col-lg-8">
                                <button type="submit" class="btn btn-primary">{{ icon('save fa-fw') }}&nbsp;{{ 'album.new.submit'|trans }}</button>
                            </div>
                        </div>
                    {{ form_end(newForm) }}

                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}
