{% block captionshare %}
    {% if photography.user.facebookshare %}
    <div id="share">
        <dl class="dl-horizontal-caption">
            <dt>{{ 'photography.share.title'|trans({}, 'FotoJoinGalleryBundle') }}</dt>
            <dd>
                <a id="shareFacebook" class="btn btn-social-icon btn-facebook share-facebook" href="{{ absolute_url(path('foto_join_gallery_share', {'id': photography.id})) }}">{{ icon('facebook fa-3x') }}</a>
                <a id="shareTwitter" class="btn btn-social-icon btn-twitter share-twitter" href="https://twitter.com/intent/tweet?button_hashtag=FotoJoin&url={{ absolute_url(path('foto_join_gallery_share', {'id': photography.id}))|url_encode }}" data-show-count="false">{{ icon('twitter fa-3x') }}</a>
                <a id="shareGoogle" class="btn btn-social-icon btn-google share-google" href="https://plus.google.com/share?url={{ absolute_url(path('foto_join_gallery_share', {'id': photography.id}))|url_encode }}">{{ icon('google fa-3x') }}</a>
            </dd>
        </dl>
    </div>
    {% endif %}
{% endblock %}
