<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Izarus">
    <meta name="language" content="es">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ asset('css/jqueryui/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/FotoJoin.css') }}" rel="stylesheet">
    <link href="{{ asset('css/ControlPanel.css') }}" rel="stylesheet">
    <link href="{{ asset('css/dropzone-custom.css') }}" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block stylesheet %}{% endblock %}
</head>
<body>
    {% include 'FotoJoinControlPanelBundle:Base:navbar.html.twig' %}
    <div class="col-md-3">
        {% include 'FotoJoinUserBundle:Profile:credential.html.twig' %}
        {% include 'FotoJoinControlPanelBundle:Base:sidebar.html.twig' %}
    </div>
    <div class="col-md-9">
        {% block body %}{% endblock %}
    </div>
    <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jqueryui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/braincrafted/bc-bootstrap-collection.js') }}"></script>
    <script src="{{ asset('js/metismenu/metisMenu.min.js') }}"></script>
    <script src="{{ asset('js/multiselect/bootstrap-multiselect.js') }}"></script>
    <script src="{{ asset('js/jquery.serializeObject.min.js') }}"></script>
    <script src="{{ asset('js/FotoJoinControlPanel.js') }}"></script>

{#}
    <script src="{{ asset('js/blueimp/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('js/blueimp/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('js/blueimp/jquery.fileupload.js') }}"></script>

    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>

    <script src="{{ asset('js/blueimp/jquery.fileupload-process.js') }}"></script>
    <script src="{{ asset('js/blueimp/jquery.fileupload-image.js') }}"></script>
    <script src="{{ asset('js/blueimp/jquery.fileupload-audio.js') }}"></script>
    <script src="{{ asset('js/blueimp/jquery.fileupload-video.js') }}"></script>
    <script src="{{ asset('js/blueimp/jquery.fileupload-validate.js') }}"></script>
    <script src="{{ asset('js/blueimp/jquery.fileupload-ui.js') }}"></script>
{#}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".clickableRow").click(function() { window.document.location = $(this).attr("href"); });
            $(".clickableRow").css('cursor', 'pointer');
        });
    </script>
    {% block javascript %}{% endblock %}
</body>
</html>
