{% extends 'FotoJoinControlPanelBundle::base.html.twig' %}

{% block title %}{{ 'category.index'|trans }}{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% include 'FotoJoinControlPanelBundle::icon.html.twig' %}{{ 'category.list'|trans }}</h1>
                {% include 'FotoJoinControlPanelBundle::flashbag.html.twig' %}
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-toolbar">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNew">{{ icon('plus') }}&nbsp;{{ 'category.new'|trans }}</button>
                            <div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'category.new'|trans }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ form_start(newForm, { 'style': 'horizontal' }) }}
                                            {{ form_row(newForm.name) }}
                                                <div class="form-group"><div class="col-lg-offset-4 col-lg-8">
                                                    <button type="submit" class="btn btn-primary">{{ icon('plus') }}&nbsp;{{ 'category.register'|trans }}</button>
                                                </div></div>
                                            {{ form_end(newForm) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {#}<a class="btn btn-primary" href="{{ path('category_new') }}">{{ icon('file') }}&nbsp;{{ 'category.new'|trans }}</a>{#}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="records_list table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(categories, 'category.name'|trans, 'name') }}{% if sort == 'name' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ 'category.actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, category in categories %}
                                <tr>
                                {#}<tr class='clickableRow' href="{{ path('category_show', { 'id': category.id }) }}">{#}
                                    <td>{% if category.name %}{{ category.name }}{% endif %}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalEdit{{ category.id }}">{{ icon('edit fa-fw') }}{{ 'category.edit'|trans }}</button>
                                        <div class="modal fade" id="modalEdit{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-sm" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">{{ 'category.edit'|trans }}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        {% set editForm = attribute(editForms, key) %}
                                                        {{ form_start(editForm, { 'style': 'horizontal' }) }}
                                                        {{ form_row(editForm.name) }}
                                                            <div class="form-group"><div class="col-lg-offset-4 col-lg-8">
                                                                <button type="submit" class="btn btn-primary">{{ icon('check fa-fw') }}&nbsp;{{ 'category.edit'|trans }}</button>
                                                            </div></div>
                                                        {{ form_end(editForm) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalDelete{{ category.id }}">{{ icon('times fa-fw') }}{{ 'category.delete'|trans }}</button>
                                        <div class="modal fade" id="modalDelete{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-sm" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">{{ 'category.delete'|trans }}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="col-xs-2 text-center">{{ icon('exclamation-triangle fa-5x') }}</div>
                                                        <div class="col-xs-10"><p>{{ 'category.deletemessage'|trans }}</p></div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        {% set deleteForm = attribute(deleteForms, key) %}
                                                        {{ form_start(deleteForm) }}
                                                            {{ form_widget(deleteForm) }}
                                                            <button type="submit" class="btn btn-danger pull-right">{{ icon('times fa-fw') }}{{ 'category.delete'|trans }}</button>
                                                        {{ form_end(deleteForm) }}
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>



                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            {{ knp_pagination_render(categories) }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

{% endblock %}
