{% extends 'FotoJoinAdminBundle:Album:layout.html.twig' %}

{% trans_default_domain 'FotoJoinAdminBundle' %}

{% block title %}{{ 'album.index.title'|trans }}{% endblock %}

{% block album %}
    <div class="row" id="page-list">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'album.index.list'|trans }}</h2>
                </div>
                <div class="table-responsive">
                    <table class="records_list table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('search fa-fw') }}</a></div>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('trash fa-fw') }}</a></div>
                                </th>
                                <th>{{ knp_pagination_sortable(albums, 'album.form.id'|trans, 'id') }}{% if sort == 'id' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(albums, 'album.form.name'|trans, 'name') }}{% if sort == 'name' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(albums, 'album.form.user'|trans, 'user') }}{% if sort == 'user' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ 'album.form.photographies'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for key, album in albums %}
                            <tr>
                                <td>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default" href="{{ path('admin_album_show', { 'id': album.id }) }}">{{ icon('search fa-fw') }}</a></div>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-warning" href="{{ path('admin_album_edit', { 'id': album.id }) }}">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-danger" href="{{ path('admin_album_delete', { 'id': album.id }) }}">{{ icon('trash fa-fw') }}</a></div>
                                </td>
                                <td>{% if album.id %}{{ album.id }}{% endif %}</td>
                                <td>{% if album.name %}{{ album.name }}{% endif %}</td>
                                <td>{% if album.user %}{{ album.user }}{% endif %}</td>
                                <td>{{ album.photographies|length }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        {{ knp_pagination_render(albums) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-list -->

{% endblock %}
