{% extends 'FotoJoinAdminBundle:Base:base.html.twig' %}
{% use 'FotoJoinAdminBundle:Base:navbar.html.twig' %}
{% use 'FotoJoinAdminBundle:Base:sidebar.html.twig' %}
{% use 'FotoJoinAdminBundle:Base:icons.html.twig' %}
{% use 'FotoJoinAdminBundle:Base:flashbag.html.twig' %}

{% trans_default_domain 'FotoJoinAdminBundle' %}

{% block title %}{{ 'album.show.title'|trans({'%id%':album.id}) }}{% endblock %}

{% block body %}
    <div class="row" id="page-breadcrumb">
        <div class="col-lg-12">
            <ol class="breadcrumb">
            <li><a href='{{ path('admin_user_show', { 'id' : album.user.id }) }}'>{{'user.show.breadcrumb'|trans({'%id%':album.user.id}) }}</a></li>
                <li class="active">{{'album.show.breadcrumb'|trans({'%id%':album.id}) }}</li>
            </ol>
        </div>
    </div>
    <!-- /#page-breadcrumb -->
    
    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'album.show.title'|trans({'%id%':album.id}) }}</h1>
                {% block flashbag %}{{ parent() }}{% endblock %}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-toolbar">
            <div class="col-lg-12">
                <div class="btn-toolbar">
                    <a type="button" class="btn btn-default" href="{{ path('admin_album_index') }}">{{ icon('list') }}&nbsp;{{ 'album.index.link'|trans }}</a>
                    <a type="button" class="btn btn-primary" href="{{ path('admin_album_edit', { 'id': album.id }) }}">{{ icon('edit') }}&nbsp;{{ 'album.edit.link'|trans }}</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">{{ icon('trash-o') }}&nbsp;{{ 'album.delete.link'|trans }}</button>
                </div>
            </div>
        </div>
        <!-- /#page-toolbar -->

        <div class="row" id="page-show">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'album.show.data'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>{{ 'album.form.id'|trans }}</dt>
                                <dd>{% if album.id %}{{ album.id }}{% endif %}</dd>
                            <dt>{{ 'album.form.name'|trans }}</dt>
                                <dd>{% if album.name %}{{ album.name }}{% endif %}</dd>
                            <dt>{{ 'album.form.createdAt'|trans }}</dt>
                                <dd>{% if album.createdAt %}{{ album.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}{% endif %}</dd>
                            <dt>{{ 'album.form.updatedAt'|trans }}</dt>
                                <dd>{% if album.updatedAt %}{{ album.updatedAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}{% endif %}</dd>                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-show -->

        
        <div class="row" id="page-list">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'photography.index.list'|trans }}</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="records_list table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('search fa-fw') }}</a></div>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('edit fa-fw') }}</a></div>
                                    </th>
                                    <th>{{ 'photography.form.id'|trans }}</th>
                                    <th>{{ 'photography.form.filename'|trans }}</th>
                                    <th>{{ 'photography.form.createdAt'|trans }}</th>
                                    <th>{{ 'photography.form.updatedAt'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, photography in album.photographies %}
                                <tr>
                                    <td>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-primary" href='{{ path('admin_photography_show', { 'id': photography.id }) }}'>{{ icon('search fa-fw') }}</a></div>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-primary" href='{{ path('admin_photography_edit', { 'id': photography.id }) }}'>{{ icon('edit fa-fw') }}</a></div>
                                    </td>
                                    <td>{% if photography.id %}{{ photography.id }}{% endif %}</td>
                                    <td>{% if photography.filename %}{{ photography.filename }}{% endif %}</td>
                                    <td>{% if photography.createdAt %}{{ photography.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', 'dd-LLL-Y - HH:mm') }}{% endif %}</td>
                                    <td>{% if photography.updatedAt %}{{ photography.updatedAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', 'dd-LLL-Y - HH:mm') }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-list -->
        
        

        <div id="page-modal">
            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">{{ icon('times') }}</button>
                            <h4 class="modal-title" id="myModalLabel">{{ 'album.delete.title'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-2 text-center">{{ icon('exclamation-triangle fa-5x') }}</div>
                                <div class="col-xs-10"><p>{{ 'album.delete.message'|trans }}</p></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            {{ form_start(deleteForm) }}
                                <button type="submit" class="btn btn-danger pull-right">{{ icon('trash-o') }}&nbsp;{{ 'album.delete.submit'|trans }}</button>
                            {{ form_end(deleteForm) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /#page-modal -->

    </div>
    <!-- /#page-wrapper -->
{% endblock %}

