{% extends 'FotoJoinAdminBundle:Album:layout.html.twig' %}

{% trans_default_domain 'FotoJoinAdminBundle' %}

{% block title %}{{ 'album.show.title'|trans }}{% endblock %}

{% block album %}

    <div class="row" id="page-show">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'album.show.title'|trans }}</h2>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>{{ 'album.form.id'|trans }}</dt><dd>{% if album.id %}{{ album.id }}{% endif %}</dd>
                        <dt>{{ 'album.form.name'|trans }}</dt><dd>{% if album.name %}{{ album.name }}{% endif %}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="btn-toolbar">
                <div class="btn-group"><a type="button" class="btn btn-warning" href="{{ path('admin_album_edit', {'id' : album.id}) }}">{{ icon('edit fa-fw') }}&nbsp;{{ 'album.edit.link'|trans }}</a></div>
                <div class="btn-group"><a type="button" class="btn btn-danger" href="{{ path('admin_album_delete', {'id' : album.id}) }}">{{ icon('times fa-fw') }}&nbsp;{{ 'album.delete.link'|trans }}</a></div>
            </div>
        </div>
    </div>
    <!-- /#page-show -->

{% endblock %}

